In [1]:
import pandas as pd

In [2]:
crime_csv = pd. read_csv("July2018.CSV")
crime_csv.head()

,Complaint,CodedMonth,DateOccur,FlagCrime,FlagUnfounded,FlagAdministrative,Count,FlagCleanup,Crime,District,Description,ILEADSAddress,ILEADSStreet,Neighborhood,LocationName,LocationComment,CADAddress,CADStreet,XCoord,YCoord
0,18-030787,2018-07,01/01/2006 12:00,Y,,,1,,115400,6,STLG BY DECEIT/IDENTITY THEFT REPORT,3800,N NEWSTEAD AVE,68,,,3800,NEWSTEAD,895638.1,1033127.0
1,18-030778,2018-07,01/01/2014 12:00,Y,,,1,,115400,6,STLG BY DECEIT/IDENTITY THEFT REPORT,5052,PLOVER AVE,72,,,5052,PLOVER,890976.9,1042886.0
2,18-033335,2018-07,01/01/2015 12:00,Y,,,1,,115400,6,STLG BY DECEIT/IDENTITY THEFT REPORT,8915,HALLS FERRY RD,74,,,8915,HALLS FERRY,894751.8,1050966.0
3,18-033321,2018-07,01/01/2017 12:00,Y,,,1,,115400,6,STLG BY DECEIT/IDENTITY THEFT REPORT,4864,LEE AVE,69,,,4864,LEE,893100.3,1036196.0
4,18-033370,2018-07,01/01/2017 12:00,Y,,,1,,115400,6,STLG BY DECEIT/IDENTITY THEFT REPORT,5115,ROBIN AVE,72,,,5115,ROBIN,890348.6,1043545.0

In [3]:
len(crime_csv)

4257

In [4]:
crime_csv.at[0, 'Complaint']

'18-030787'

In [7]:
columns = crime_csv.columns
columns

Index(['Complaint', 'CodedMonth', 'DateOccur', 'FlagCrime', 'FlagUnfounded',
       'FlagAdministrative', 'Count', 'FlagCleanup', 'Crime', 'District',
       'Description', 'ILEADSAddress', 'ILEADSStreet', 'Neighborhood',
       'LocationName', 'LocationComment', 'CADAddress', 'CADStreet', 'XCoord',
       'YCoord'],
      dtype='object')

In [6]:
crime_csv['XCoord'] !=0

0        True
1        True
2        True
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14      False
15       True
16       True
17       True
18       True
19       True
20      False
21       True
22       True
23       True
24       True
25       True
26       True
27      False
28       True
29      False
        ...
4227     True
4228     True
4229     True
4230     True
4231     True
4232     True
4233     True
4234     True
4235     True
4236     True
4237     True
4238     True
4239     True
4240     True
4241     True
4242     True
4243     True
4244    False
4245     True
4246     True
4247     True
4248     True
4249     True
4250    False
4251    False
4252     True
4253    False
4254     True
4255     True
4256     True
Name: XCoord, Length: 4257, dtype: bool

In [8]:
import arcgis
from arcgis.features import SpatialDataFrame

In [10]:
from arcgis.gis import GIS
gis = GIS("http://slustl.maps.arcgis.com/home", "cuaycongy_SLUSTL")

Enter password: ········